@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&display=swap');

:root {
    --main-color: #4EA286 --border: .1rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}


* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
}



html {
    font-size: 60%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    overflow-x: hidden;

}


.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;


    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: var(--box-shadow);

}


.header .logo {
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: #4EA286;
}

.header .navbar a:hover {
    color: #F4AE30;

}


#menu-btn {
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: #4EA286;
    background-color: #fff;
    display: none;
}


#menu-btn:hover {
    color: #fff;
    background-color: #4EA286;
}




/* home */

section {

    padding: 7rem 9%;


}


.home {
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding-top: 10rem;
    gap: 1.5rem;
    background-color: #fff;

}

.home .content {
    flex: 1 1 40rem;

}

.home .image {
    flex: 1 1 30rem;


}

.home .image img {
    width: 100%;

}


.home .content h3 {
    font-size: 8rem;
    padding-bottom: 5rem;
    color: #F4AE30;
}

.home .content p {
    font-size: 3rem;
    padding-bottom: 5rem;
    line-height: 1.9;
}



.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background-color: #4EA286;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;


}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #F4AE30;
    z-index: -1;
    transition: .2s ease-out;

}

.btn:hover:before {

    left: 0;
    width: 100%;
}


/* home */



/* category */

.category {
    padding-top: 2rem;
    background-color: #f8f8f8;
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: #4EA286;
    padding: 10rem 0;

}


.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    padding-bottom: 10rem;
    

}


.category .box-container .box {
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    background-color: ;
}


.category .box-container .box img {
    height: 20rem;
    
}


.category .box-container .box h3 {

    color: #4EA286;
    font-size: 2.5rem;
    padding-top: 1.5rem;


}


.category .box-container .box p {

    color: #F4AE30;
    font-size: 1.5rem;
    padding-top: 1.5rem 0;
    line-height: 1.8rem;

}


/* category */



/* about us  */
.about {
    padding-top: 5rem;
}

.about .row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image img {
    width: 100%;

}

.about .row .image {
    flex: 1 1 42rem;
    padding: 2rem;
}

.about .row .content {
    flex: 1 1 42rem;
    padding: 5rem;
}


.about .row .content .title {
    font-size: 4rem;
    color: black;
}


.about .row .content p {
    font-size: 1.5rem;
    color: rgb(49, 49, 49);
    line-height: 1.8;
    padding: 1rem 0;
    text-align: start;

}



.about .row .content .icon-containar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 2rem;

}


.about .row .content .icon-containar {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 2rem;

}

.about .row .content .icon-containar .icons {
    flex: 1 1 15rem;
    border-radius: .5rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    padding: 1.5rem;
}

.about .row .content .icon-containar .icons i {
    border-radius: 50%;
    background: #fac666;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
}


.about .row .content .icon-containar .icons h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
    color: black;

}


/* about us  */


/* contact */

/* .contact {
    padding-top: 2rem;
} */

.contact .icons-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}


.contact .icons-container .icons {
    text-align: center;
    padding: 3rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

}


.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    color: black;
    background: #fac666;
    border-radius: 50%;

}


.contact .icons-container .icons h3 {
    color: black;
    font-size: 2rem;
    padding: 1rem 0;

}



.contact .row {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row img {
    flex: 1 1 45rem;
    width: 10px;
    padding: 5rem;

}


.contact .row form {
    flex: 1 1 45rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;

    box-shadow: var(--box-shadow);


}


.contact .row form .box {
    margin: .7rem 0;
    padding: 1rem;
    font-size: 2rem;
    color: black;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    background: #fff;
    text-transform: none;
    width: 100%;


}


.contact .row form .box :focus {
    background: #fff7;


}


.contact .row form textarea {
    height: 20rem;
    resize: none;


}



.contact .row form .btn:hover {
    background: #fff9;



}





/* contact */


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

/* 
.container::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:url(image/idea-img.jpg) ;
    background-size:cover ;
    z-index: -1;
    filter: blur(30px);

} */

.left {
    height: 100%;
    background: url(image/idea-img.jpg) no-repeat center;
    background-size: cover;

}

.contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.container .contact-box .right h2 {
    position: relative;
    font-size: 4rem;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.container .contact-box .right h2::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 5px;
    width: 50px;
    border-radius: 2px;
    background-color: #4EA286;


}

.right {
    padding: 15px;
}

.field {
    width: 100%;
    padding: .5rem 1rem;
    background-color: #ddd;
    font-size: 2rem;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);

    transition: .3s;
}

.field:hover {
    background-color: #fac666;
}


.field:focus {
    background-color: #fff;
    border: 2px solid #fac666;
}



.btn-field {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #4EA286;
    color: #fff;
    transition: .3s;

}

.btn-field:hover {
    background-color: #00b77a;

}





.container::after {}


/* footer */


.footer {
    margin-top: 5rem;
    background-color: #4EA286;

}


.footer .box-continer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;

}


.footer .box-continer .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #F4AE30;
}
#COMPANY{
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding-right: 50px;
    

}



.footer .box-continer .box a {
    display: block;
    font-size: 2rem;
    padding: 1rem 0;
    color: #fff;
}


.footer .box-continer .box a i {
    padding-right: .5rem;

}



.footer .box-continer .box a:hover i {
    padding-right: 5rem;
    color: #F4AE30;

}


.footer .copyr {
    text-align: center;
    align-items: center;
    color: #F4AE30;
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: 2rem;
}

/* footer */


/* media queries */
@media (max-width :990px) {
    html {
        font-size: 50%;

    }

    .header {
        padding: 2rem;
    }

    section {

        padding: 2rem;

    }
}

@media (max-width :768px) {
    html {
        font-size: 50%;

    }

    #menu-btn {
        display: initial;
    }

    .haeder .navbar {
        position: absolute;
        top: 110%;
        right: 2rem;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        border: .1rem solid rgba(0, 0, 0, .1);
        width: 30%;

    }

    .haeder .navbar a {
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;


    }

    .haeder .navbar a:active {
        transform: scale(1);
        opacity: 1;

    }

    .haeder .navbar a:hover {

        background-color: #4EA286;

    }

    .header {
        padding: 2rem;
    }

    .home .content {
        text-align: center;
    }

    .header .navbar a {
        display: none;
    }

    .contact-box {
        grid-template-columns: 1fr;
    }

    .left {
        height: 200px;
    }
}

@media (max-width :460px) {
    html {
        font-size: 50%;

    }

}